$success: #16d856;

@import "../../node_modules/bootstrap/scss/_functions";
@import "../../node_modules/bootstrap/scss/_variables";

$custom-theme-colors: (
    "discord": #5865f2,
    "gmail": #df5042,
    "github": #4a4b57,
    "facebook": #2374e1
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";

@import "../css/base",
        "../css/badgesnstuff",
        "../css/header",
        "../css/mcpacks",
        "../css/modal",
        "../css/nothinggame",
        "../css/other",
        "../css/popover",
        "../css/reveal-on-scroll";
