* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li:not(#output-html > li) {
  list-style: none;
}

.inline {
  display: inline;
}

.horizontal-list > li {
  display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a:not(:link) {
  cursor: default;
}

.blur {
  filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  -webkit-filter: blur(2px);
}

.container {
  padding-bottom: 8px;
}

.main-content > .container {
  background: none !important;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 64px;
}

h1 {
  text-align: center;
}

.main-content {
  margin-left: 2vw;
  margin-right: 2vw;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 30px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #646464;
}

::-webkit-scrollbar-thumb {
  background: #8d8d8d;
}

::-webkit-scrollbar-thumb:hover {
  background: #cacaca;
}

::-webkit-scrollbar-corner {
  height: 0px;
}

#background {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-image: url("./img/clouds.webp");
  background-size: cover;
  background-position: center;
}

.btn,
.form-control {
  border-radius: 0px;
}

.code {
  background-color: rgba(0, 0, 0, 0.5333333333);
  font-family: "Courier New", Courier, monospace;
  width: fit-content;
  padding: 8px;
  font-weight: 600;
}

.badge {
  margin-left: 5px;
}

.used-program-icon {
  width: 32px;
  height: 32px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3333333333));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3333333333));
  transition: transform 200ms;
}

.used-program-icon:hover {
  transform: scale(1.1);
}

.used-program-icon:active {
  transform: scale(0.9);
}

.used-language-icon {
  width: 1em;
  height: 1em;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3333333333));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3333333333));
  transition: transform 200ms;
}

.used-language-icon:hover {
  transform: scale(1.1);
}

.used-languages {
  display: inline-block;
  margin: 0px 0px 0px 10px;
  padding: 0px;
  transform: translateY(-2px);
}

ul.used-languages > li {
  display: inline;
}

.program-icon {
  height: 1em;
  margin-right: 5px;
  position: relative;
  top: -5px;
}

.header {
  background-color: transparent;
  padding: 30px 0px;
  opacity: 0;
  height: 100vh;
}

.header > * {
  text-shadow: rgba(0, 0, 0, 0.7333333333) 0px 0px 5px;
  position: relative;
  top: calc(50% - 20px);
}

.header-loaded {
  opacity: 1;
}

.mc-mod-icon {
  width: 28px;
  height: 28px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3333333333));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.3333333333));
  transition-duration: 200ms;
}

.mc-mod-icon:hover {
  transform: translate(0px, -2px);
}

/* Modal */
.modal:not(.modal-bs) {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal-content2 {
  position: fixed;
  bottom: 0 !important;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  margin-bottom: -1px;
}

.close:not(.modal-bs) {
  float: left;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-header:not(.modal-bs) {
  padding: 2px 16px;
}

.modal-body:not(.modal-bs) {
  padding: 2px 16px;
}

.modal-content.modal-bs > * {
  border: none !important;
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Warning text */
.warning-title {
  font-variant: small-caps;
  font-weight: bold;
}

body {
  padding-bottom: 32px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.main-content > .container:before {
  transform: skewY(-2deg);
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  position: absolute;
  left: 0;
  top: -30px;
  right: 0;
  bottom: 0;
}

/* Popover */
.popover {
  background-color: #000;
}

.popover-header {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  padding: 6px;
}

.popover-body {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.9333333333);
  padding: 6px;
  padding-top: 0px;
  padding-bottom: 6px;
}

.bs-popover-top > .popover-arrow::after {
  border-top-color: #000;
}

/* Animation on scroll */
.reveal > *:not(.btn) {
  transition-delay: 300ms;
  transition-duration: 500ms;
  transition-property: opacity;
  opacity: 0;
}

.reveal.active > * {
  opacity: 1;
  transform: translateX(0);
  transition-delay: 0ms !important;
}

.reveal {
  position: relative;
  transform: translateY(10px);
  opacity: 0;
  transition: 500ms ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

#viewport {
  perspective: 1000px;
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  z-index: 500;
  pointer-events: none;
}

#world {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -256px;
  height: 512px;
  width: 512px;
  transform-style: preserve-3d;
  pointer-events: none;
  user-select: none;
}

#world div {
  transform-style: preserve-3d;
}

.cloudBase {
  position: absolute;
  left: 256px;
  top: 256px;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
}

.cloudLayer {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 256px;
  height: 256px;
  margin-left: -128px;
  margin-top: -128px;
  transition: opacity 0.5s ease-out;
}

p {
  margin-top: 16px;
  margin-bottom: 16px;
}

a:link,
a:visited {
  color: #75c3f7;
}

.ranking {
  background-image: url('./certificate.svg');
  background-size: contain;
  background-position: center;
  width: 2em;
  height: 2em;
  font-size: 1em;
  display: inline-block;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  font-weight: bold;
  color: #000;
  user-select: none;
}

.confetty {
  position: absolute;
  display: block;
  width: 8px;
  height: 16px;
  background-color: red;
  pointer-events: none;
}
