
li:not(#output-html>li) {
    list-style: none;
}

.inline {
    display: inline;
}

.horizontal-list>li {
    display: inline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a:not(:link) {
    cursor: default;
}

.blur {
    filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    -webkit-filter: blur(2px);
}

/* Skip nav link */
.skip-nav-link {
    position: absolute;
    transform: translateY(-100%);
    transition-duration: 200ms;
    background-color: #000;
    left: 20px;
}

.skip-nav-link:focus {
    transform: translateY(0);
    box-shadow: #000f 0px 0px 10px;
}

.container {
    width: 100%;
    max-width: unset;
}

.main-content > .container {
    background: none !important;
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    text-align: center;
}

.main-content {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    box-shadow: #0002 5px 0px 3px inset;
}

::-webkit-scrollbar-thumb {
    background: #8d8d8d;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cacaca;
}

::-webkit-scrollbar-corner {
    height: 0px;
}
