/* Header */

.header {
    padding: 30px 0px;
    background-image: url('./img/header.webp');
    background-size: cover;
    background-position: center;
    transition-duration: 100ms;
    opacity: 0;
    height: 100vh;
}

.header>* {
    text-shadow: #000b 0px 0px 5px;
    position: relative;
    top: calc(50% - 20px);
}

.header-loaded {
    opacity: 1;
}
