
#mcpacks.container:before {
    background-image:
        linear-gradient(#0005,  #3a291c),
        url('./img/mc-background.png');
    background-size: 48px;
    image-rendering: pixelated;
}

.mc-mod-icon {
    width: 28px;
    height: 28px;
    -webkit-filter: drop-shadow(5px 5px 5px #0005);
    filter: drop-shadow(5px 5px 5px #0005);
    transition-duration: 200ms;
}

.mc-mod-icon:hover {
    transform: translate(0px, -2px);
}
