/* Popover */

.popover {
    background-color: #000;
}

.popover-header {
    background-color: #0000;
    color: #fff;
    padding: 6px;
}

.popover-body {
    background-color: #0000;
    color: #fffe;
    padding: 6px;
    padding-top: 0px;
    padding-bottom: 6px;
}

.bs-popover-top>.popover-arrow::after {
    border-top-color: #000;
}
