/* Animation on scroll */

.reveal>*:not(.btn) {
    transition-delay: 300ms;
    transition-duration: 500ms;
    opacity: 0;
}

.reveal.active>* {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0ms !important;
}

.reveal {
    position: relative;
    transform: translateY(10px);
    opacity: 0;
    transition: 500ms ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}
