/* General */

li:not(#output-html>li) {
    list-style: none;
}

.inline {
    display: inline;
}

.horizontal-list>li {
    display: inline;
}

a:not(#output-html>li) {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, li, a:not(:link) {
    cursor: default;
}

.badge {
    margin-left: 5px;
}

/* Icons */
.used-program-icon {
    width: 32px;
    height: 32px;
    -webkit-filter: drop-shadow(5px 5px 5px #0005);
    filter: drop-shadow(5px 5px 5px #0005);
    transition-duration: 200ms;
}

.used-program-icon:hover {
    transform: translate(0px, -2px);
}

.mc-mod-icon {
    width: 28px;
    height: 28px;
    -webkit-filter: drop-shadow(5px 5px 5px #0005);
    filter: drop-shadow(5px 5px 5px #0005);
    transition-duration: 200ms;
}

.mc-mod-icon:hover {
    transform: translate(0px, -2px);
}

.blur {
    filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    -webkit-filter: blur(2px);
}

.program-icon {
    height: 1em;
    margin-right: 5px;
    position: relative;
    top: -5px;
}

/* Skip nav link */
.skip-nav-link {
    position: absolute;
    transform: translateY(-100%);
    transition-duration: 200ms;
    background-color: #000;
    left: 20px;
}

.skip-nav-link:focus {
    transform: translateY(0);
    box-shadow: #000f 0px 0px 10px;
}

/* Animation on scroll */
.reveal>h1 {
    transition-delay: 100ms;
    transform: translateX(-20px);
}

.reveal>*:not(.btn) {
    transition-delay: 300ms;
    transition-duration: 500ms;
    opacity: 0;
}

.reveal.active>* {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0ms !important;
}

.reveal{
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  box-shadow: #0006 5px 0px 3px inset;
}
 
::-webkit-scrollbar-thumb {
  background: #8d8d8d; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #cacaca; 
}
::-webkit-scrollbar-corner {
    height: 0px;
  }
/* Modal */
.modal:not(.modal-bs) {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
  
.modal-content2 {
    position: fixed;
    bottom: 0 !important;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    margin-bottom: -1px;
}
  
.close:not(.modal-bs) {
    float: left;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
  
.modal-header:not(.modal-bs) {
    padding: 2px 16px;
}
  
.modal-body:not(.modal-bs) {padding: 2px 16px;}
    
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}
  
@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
  
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
  
@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

/* Header */
.header {
    padding: 30px 0px;
    background-image: url(header.png);
    background-size:cover;
    background-position: center;
    transition-duration: 100ms;
    opacity: 0;
}

.header-loaded {
    opacity: 1;
}

/* Containers */
.container {
    border-radius: 10px;
}

.container-background {
    box-shadow: inset #000 0px 0px 10px, #0006 0px 0px 10px;
}

/* Popover */
.popover {
    background-color: #000;
}
.popover-header {
    background-color: #0000;
    color: #fff;
    padding: 6px;
}
.popover-body {
    background-color: #0000;
    color: #fffe;
    padding: 6px;
    padding-top: 0px;
    padding-bottom: 6px;
}
.bs-popover-top>.popover-arrow::after {
    border-top-color: #000;
}

/* Warning text */
.warning-title {
    font-variant: small-caps;
    font-weight: bold;
}


.nothing-news-openclose-button {
    margin: 0px auto;
    height: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 10px;
    transition: text-shadow 200ms;
}
.nothing-news-openclose-button:hover {
    text-shadow: #fff 0px 0px 5px;
}
.nothing-news-openclose-button:hover>.nothing-news-button-icon:not(.opened) {
    transform: translateY(5px);
}
.nothing-news-openclose-button:hover>.nothing-news-button-icon.opened {
    transform: translateY(-5px) rotate(180deg);
}

.nothing-news {
    max-height: 300px;
    overflow: scroll;
    transition: max-height 500ms;
}
.nothing-news.hide {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 500ms;
}

.nothing-news-button-icon {
    transition: transform 500ms;
}

.nothing-news-button-icon.opened {
    transform: rotate(180deg);
}
.nothing-news::-webkit-scrollbar {
  width: 5px !important; 
  box-shadow: none !important; 
}
.nothing-news::-webkit-scrollbar-thumb {
  background: #8d8d8d !important; 
  border-radius: 2px !important;
}

.modal-content.modal-bs>* {
    border: none !important;
}